.formRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label {
  font-size: 18px;
  margin-bottom: 6px;
  color: black;
  text-align: left;
}

.inputField {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px 12px;
  font-size: 15px;
  border-radius: 12px;
  border: 1px solid transparent;
  background: #B2C8CF;
  justify-content: space-between;
  align-items: center;
}

.input {
  flex: 1;
  padding: 0px;
  font-size: 18px;
  border: 1px solid transparent;
  background: #B2C8CF;
}

.input:focus {
  outline: none;
}

.sideButton {
  width: 25px;
  height: 25px;
  background: transparent;
  border: 0;
  outline: none;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideButton:focus {
  outline: none;
}

.icon {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}