.lessonCard {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: rgb(252, 255, 152);
    border-radius: 40px;
    height: 280px;
    width: 350px;
    /* padding: 15px; */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0, 5);
    overflow: hidden;
}

.lessonInfo {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: first center;
    text-align: left;
    padding: 15px;
    gap: 10px;
}

.icon {
    width: 100px;
    height: 100px;
}

.lessonTitle {
    flex: 1;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: black;
    opacity: 1;
    margin-left: 10px;
}

.lessonExtraArea {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
    /* justify-content: right; */
    /* margin-left: auto; */
    background-color: rgb(252, 244, 80);
    padding: 15px;
    align-items: center;
}