.termRow {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.termRow input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #235039;
    margin-right: 20px;
}

.termRow a {
    color: #212eba;
    text-decoration: none;
}